body{
    margin: 0;
}
.container{
    height: 100vh;
}
.header_container{
background-image: url(img@3x.jpg);
min-height:100%;
background-size: cover;
background-position: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
}
nav {
    display: flex;
    align-items: center;   
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 135px;       
}
.logo img{
    margin-right: 17px;
}
.forkio1, .forkio2{
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.67;
    text-align: left;
    color: #333333;
  }
 .forkio2 {
    color: #8d81ac;
  }
 a{
      text-decoration: none;
  }
 nav, .button_top_menu{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 0.94;
    text-align: left;
    color: #635c73;
    margin-right: 121px;
  }
nav a{
    margin-right: 35px;
}

.button_top_menu{
    width: 145px;
    height: 38px;
    border-radius: 19px;
    background-color: #8d81ac;
    color: white;
    text-align: center;
    border: none;
    margin-right: 0px;
    
}
.header_container_text{
    display: flex;
    flex-direction: column;
    padding-top: 108px;

    
}
.header_container_text h1{
    font-family: Montserrat;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0;
    line-height: 0.78;
    height: 77px;
    margin-bottom: 18px;

  }
.span1{
    font-family: Lato;
    font-size: 30px;
    line-height: 0.68;
    text-align: center;
    color: #8d81ac;
    margin-bottom: 18px;
}
.span2{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.28;
    text-align: center;
    color: #848e97; 
    text-transform: uppercase;
}
.but_cont_2{
    display: flex;
    justify-content: center;
}

/*------------------------------*/
.button2{
    width: 390px;
    height: 62px;
    border-radius: 30px;
    background-color: #8d81ac;
    color: white;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    line-height: 0.98;
    border:none;
    margin-top: -30px;
}
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unlimited-30-Days-Trial-Period{
    margin-top: 19px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.07;
    color: #848e97;
}

.Revolutionary-editor {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    color: #635c73;
    text-transform: uppercase;
    margin-top: 66px;
    margin-bottom: 39px;
}
.aenean-cursus {

    opacity: 0.8;
    font-family: Source Sans Pro;
    font-size: 21px;
    line-height: 1.52;
    text-align: center;
    color: rgba(50, 50, 50, 0.8);
    max-width: 880px;
    margin-bottom: 132px;
  }
/*------------block2------------*/
/*------------------------------*/
.container2{
    display: flex;
    background-color: #f4f4f4;

}
.column_left{
    max-width: 500px;
    margin-top: 102px;
}
.position{
    display: flex;
    margin-bottom: 31px;
}
.icon {
    width: 111px;
    height: 64px;
    object-fit: contain;
  }
  .icon1{
    margin-left: 105px;
    margin-right: 24px;
  }
  .icon2{
    margin-left: 105px;
    margin-right: 24px;
  }
  .icon3{
    margin-left: 105px;
    margin-right: 24px;
  }
  .icon4{
    margin-left: 105px;
    margin-right: 24px;
  }
  .h_left_block {
    font-family: Montserrat;
    color: #323232;
    margin-bottom: 18px;
  }
  .text_left_block {
    width: 350px;
    height: 78px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #848e97;
  }
  .text{
    display: flex;
    flex-direction: column;
  }